@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }


  .scrollbar-thumb-gray-200::-webkit-scrollbar {
    width: 6px;
  }


  .scrollbar-thumb-gray-200::-webkit-scrollbar-track {
    background: transparent;
  }


  .scrollbar-thumb-gray-200::-webkit-scrollbar-thumb {
    background-color: #e5e7eb;
    border-radius: 3px;
  }


  .scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 70% 4%;
    --card: 224 20% 96%;
    --card-foreground: 224 30% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 70% 4%;
    --primary: 220 80% 50%;
    --primary-foreground: 220 40% 90%;
    --secondary: 275 80% 50%;
    --secondary-foreground: 275 40% 90%;
    --muted: 220 60% 70%;
    --muted-foreground: 220 80% 90%;
    --accent: 275 30% 80%;
    --accent-foreground: 275 5% 10%;
    --destructive: 0 85% 50%;
    --destructive-foreground: 0 85% 90%;
    --warning: 30 100% 50%;
    --warning-foreground: 30 100% 90%;
    --border: 220 50% 84%;
    --input: 224 70% 60%;
    --ring: 224 70% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 70% 8%;
    --foreground: 224 30% 92%;
    --card: 224 20% 12%;
    --card-foreground: 224 30% 92%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 220 80% 50%;
    --primary-foreground: 220 80% 90%;
    --secondary: 275 80% 50%;
    --secondary-foreground: 275 80% 90%;
    --muted: 220 60% 30%;
    --muted-foreground: 220 80% 10%;
    --accent: 275 30% 20%;
    --accent-foreground: 275 5% 90%;
    --destructive: 0 85% 50%;
    --destructive-foreground: 0 85% 10%;
    --warning: 30 100% 50%;
    --warning-foreground: 30 100% 10%;
    --border: 215 50% 16%;
    --input: 224 70% 40%;
    --ring: 224 70% 50%;
  }
}

/* DayPicker custom styles */
.rdp {
  margin: 0;
}

.rdp-month {
  background-color: transparent;
}

.rdp-day {
  border-radius: theme('borderRadius.lg');
  transition: all 0.2s;
  margin: 0;
}

.rdp-day:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}

.rdp-day_selected,
.rdp-day_selected:hover:not([disabled]) {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  font-weight: 500;
}

.rdp-day_today {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
  font-weight: 500;
}

.dark .rdp-day_today {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}

.rdp-button:hover:not([disabled]) {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}

.rdp-nav_button:hover {
  background-color: transparent;
}